<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonBgColor</key>
	<string>acacac</string>
	<key>labelTitleColor</key>
	<string>ffffff</string>
	<key>buttonHighlight</key>
	<string>0000f0</string>
	<key>testImage1</key>
	<string>blueimage.png</string>
	<key>commonBorderWidth</key>
	<integer>5</integer>
</dict>
</plist>
